SPRING_JWT_SECRET=<JWT SECRET>
DB_ENDPOINT=<POSTGRED DATABSE ENDPOINT>
DB_NAME=<DATABASE NAME>
SPRING_EMAIL_ID=<EMAIL ID>
SPRING_EMAIL_PASSWORD=<EMAIL PASSWORD>
RDS_USERNAME=<DATABSE ADMIN USERNAME>
RDS_PASSWORD=<DATABSE ADMIN PASSWORD>
PAYTM_MERCHANT_KEY=<PAYTM MERCHANT KEY>
PAYTM_MERCHANT_ID=<PAYTM MERCHANT ID>
SPRING_SERVER_URL=<SERVER URL OF THIS SERVER>